supabase/n8n_novo_cadastro.json
{
  "name": "Sombrear - Novo Cadastro",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sombrear-novo-cadastro",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [460, 180]
    },
    {
      "parameters": {
        "fromEmail": "luccapavanallo@gmail.com",
        "toEmail": "luccapavanallo@gmail.com",
        "subject": "🔔 Novo cadastro aguardando aprovação — Sombrear",
        "emailType": "html",
        "message": "<!DOCTYPE html>\n<html>\n<body style=\"font-family: Inter, sans-serif; background: #f5f5f5; margin: 0; padding: 24px;\">\n  <div style=\"max-width: 480px; margin: 0 auto; background: #fff; border-radius: 16px; overflow: hidden; box-shadow: 0 4px 24px rgba(0,0,0,0.08);\">\n    <div style=\"background: linear-gradient(135deg, #E8701A, #C45E14); padding: 32px; text-align: center;\">\n      <div style=\"width: 56px; height: 56px; background: rgba(255,255,255,0.2); border-radius: 14px; display: inline-flex; align-items: center; justify-content: center; font-size: 28px; font-weight: 700; color: #fff; margin-bottom: 12px;\">S</div>\n      <h1 style=\"color: #fff; margin: 0; font-size: 20px; font-weight: 700;\">Novo cadastro</h1>\n      <p style=\"color: rgba(255,255,255,0.85); margin: 6px 0 0; font-size: 14px;\">Aguardando sua aprovação</p>\n    </div>\n    <div style=\"padding: 32px;\">\n      <p style=\"color: #374151; font-size: 15px; margin: 0 0 24px;\">Um novo usuário se cadastrou no <strong>Sombrear Insights</strong> e precisa da sua aprovação para acessar o sistema.</p>\n      <div style=\"background: #f9fafb; border-radius: 12px; padding: 20px; margin-bottom: 24px; border: 1px solid #e5e7eb;\">\n        <p style=\"margin: 0 0 8px; font-size: 13px; color: #6b7280; font-weight: 500;\">DADOS DO USUÁRIO</p>\n        <p style=\"margin: 0 0 6px; font-size: 15px; color: #111827;\"><strong>Nome:</strong> {{ $json.body.record.full_name || 'Não informado' }}</p>\n        <p style=\"margin: 0; font-size: 15px; color: #111827;\"><strong>Email:</strong> {{ $json.body.record.email }}</p>\n      </div>\n      <a href=\"https://dash-sombrear.vercel.app\" style=\"display: block; background: linear-gradient(135deg, #E8701A, #C45E14); color: #fff; text-align: center; padding: 14px; border-radius: 10px; text-decoration: none; font-weight: 600; font-size: 15px;\">Acessar painel para aprovar</a>\n      <p style=\"margin: 20px 0 0; font-size: 12px; color: #9ca3af; text-align: center;\">Sombrear Insights · Sistema de gestão</p>\n    </div>\n  </div>\n</body>\n</html>",
        "options": {}
      },
      "id": "send-email",
      "name": "Enviar Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [460, 420]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          { "node": "Respond", "type": "main", "index": 0 },
          { "node": "Enviar Email", "type": "main", "index": 0 }
        ]
      ]
    }
  }
}
